<html ng-app="app">
  <head>
    <title>Hair Club For Trump</title>
    <meta name="description" content="Hair Club For Trump: Trump did it and so can... anything really." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Trumpify Anything">
    <!-- <meta name="twitter:site" content="@publisher_handle"> -->
    <meta name="twitter:title" content="Hair Club For Trump">
    <meta name="twitter:description" content="Trump did it and so can... anything really.">
    <!-- <meta name="twitter:creator" content="@author_handle"> -->
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="http://www.hairclubfortrump.com/image/<%= @image_uuid || 'missing_image' %>">

    <!-- Open Graph data -->
    <meta property="og:title" content="Hair Club For Trump" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.hairclubfortrump.com/gallery/<%= @gallery_name || '' %>/<%= @image_uuid || 'missing_image' %>" />
    <meta property="og:image" content="http://www.hairclubfortrump.com/image/<%= @image_uuid || 'missing_image' %>" />
    <meta property="og:description" content="Trumpify Anything" /> 
    <meta property="og:site_name" content="Hair Club For Trump" />

    <script type='text/javascript' src='/bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='/bower_components/angular-route/angular-route.js'></script>
    
    <script type='text/javascript' src='/js/appController.js'></script>
    
    <script type='text/javascript' src='/js/imageMovement.js'></script>
    <script type='text/javascript' src='/js/headerController.js'></script>
    <script type='text/javascript' src='/js/sidebarController.js'></script>
    <script type='text/javascript' src='/js/mainPanelController.js'></script>

    <script type='text/javascript' src='/js/taggerController.js'></script>
    <script type='text/javascript' src='/js/hairController.js'></script>
    <script type='text/javascript' src='/js/hairControlsController.js'></script>

    <link href='https://fonts.googleapis.com/css?family=Philosopher:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body>
    <div ng-view></div>
  </body>
</html>