<html ng-app="app">
  <head>
    <script type='text/javascript' src='/bower_components/angular/angular.js'></script>
    <script type='text/javascript' src='/bower_components/angular-route/angular-route.js'></script>
    
    <script type='text/javascript' src='/js/appController.js'></script>
    <script type='text/javascript' src='/js/sidebarController.js'></script>
    <script type='text/javascript' src='/js/mainPanelController.js'></script>

    <script type='text/javascript' src='/js/hairController.js'></script>
    <script type='text/javascript' src='/js/hairControlsController.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body>
    <div ng-view></div>
  </body>
</html>