<div class='button-wrapper'>
  <div class='paper-button'>
    <a href='javascript:void(0)'>Upload An Image</a>
    <input type='file' id='file-upload' onchange="angular.element(this).scope().handleUpload(this)"/>
  </div>
</div>
<div class='button-wrapper'>
  <div class='paper-button' id='share-button' ng-disabled="!config.upload || saving"><a href='javascript:void(0)'>Save and Share</a></div>
  <div class='share-buttons'>
    <form id='save_form'>
      <label>Title</label>
      <div class='input-wrapper'>
        <input type='text' name='title' id='image_title'> 
      </div>
      <!-- <div class='input-wrapper'>
        <image-tagger id='image_tags' id-field='name' label='Tags (hint: use nouns, separate with spaces)'></image-tagger>
      </div> -->
      <input type='hidden' name="tag_ids[]" id='tag_data' value='All'>
      <input type='hidden' name="image_data" id='image_data'>
      <div class='paper-button' id='save_image'>Submit</div>
    </form>
    <!-- <paper-share-facebook class='share-button' raised>Facebook</paper-share-facebook>
    <paper-share-google class='share-button'raised >Google</paper-share-google>
    <paper-share-twitter class='share-button'raised>Twitter</paper-share-twitter> -->
  </div>
</div>